<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Pesanan | Admin Panel</title>
    <link rel="stylesheet" href="admin-style.css" />
    <script>
      const role = sessionStorage.getItem('role');
      if (role != 'admin' || !role) {
        alert('FORBIDDEN');
        document.location.href = '../../templates/auth/auth.html';
      }
    </script>
  </head>

  <body>
    <!-- SIDEBAR -->
    <aside class="sidebar">
      <div class="logo">Admin Panel</div>
      <ul>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="product.html">Data Ayam</a></li>
        <li><a href="order.html" class="active">Data Pesanan</a></li>
        <li><a class="logout">Logout</a></li>
      </ul>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="main-content">
      <h1>Data Pesanan</h1>

      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama Pembeli</th>
            <th>Tanggal Pesan</th>
            <th>Total</th>
            <th>Status Pesanan</th>
            <th>Status Pembayaran</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody class="table-body"></tbody>
      </table>
    </main>

    <script src="js/Order.js"></script>
    <script src="../js/global.js"></script>
    <script>
      window.onload = getAllOrder();
    </script>
  </body>
</html>
