<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Ayam | Admin Panel</title>
    <link rel="stylesheet" href="admin-style.css" />
    <script>
      const role = sessionStorage.getItem('role');
      if (role != 'admin' || !role) {
        alert('FORBIDDEN');
        document.location.href = '../../templates/auth/auth.html';
      }
    </script>
  </head>

  <body>
    <!-- SIDEBAR -->
    <aside class="sidebar">
      <div class="logo">Admin Panel</div>
      <ul>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="product.html" class="active">Data Ayam</a></li>
        <li><a href="order.html">Data Pesanan</a></li>
        <li><a href="sale.html">Data Penjualan</a></li>
        <li><a class="logout">Logout</a></li>
      </ul>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="main-content">
      <div class="header-flex">
        <h1>Data Ayam</h1>
        <a class="btn-add">+ Tambah Produk</a>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Jenis Ayam</th>
            <th>Stok</th>
            <th>Harga</th>
            <th>Usia</th>
            <th>Status</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody class="data-products"></tbody>
      </table>
    </main>

    <script src="js/Product.js"></script>
    <script src="../js/global.js"></script>
    <script>
      window.onload = getAllProducts();
    </script>
  </body>
</html>
